<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="R2PrimaryTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
        <requiredRuntime version="v2.0.50727"/>
  </startup>
  <applicationSettings>
    <R2PrimaryTest.My.MySettings>
      <setting name="R2PrimaryTest_ir_rmto_smartcard_PKG_RMTO_WSService"
        serializeAs="String">
        <value>http://smartcard.rmto.ir:9090/orawsv/TR_PUBLIC_WS/PKG_RMTO_WS</value>
      </setting>
      <setting name="R2PrimaryTest_PayanehWS_PayanehWebService" serializeAs="String">
        <value>http://localhost:10919/PayanehWebService.asmx</value>
      </setting>
    </R2PrimaryTest.My.MySettings>
  </applicationSettings>
</configuration>
