<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BillOfLadingClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BillOfLadingClassLibrary.Properties.Settings>
            <setting name="BillOfLadingClassLibrary_ir_rmto_bar_BarInfoServiceAtis"
                serializeAs="String">
                <value>https://bar.rmto.ir/service2/barinfoserviceatis.asmx</value>
            </setting>
        </BillOfLadingClassLibrary.Properties.Settings>
    </applicationSettings>
</configuration>