@font-face {
    font-family: 'BYekanRegular';
    src: url('../fonts/yekan-regular.eot?#iefix') format('FontName-opentype'), url('../fonts/yekan-regular.ttf') format('truetype'), url('../fonts/yekan-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BYekan';
    src: url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'), url('../fonts/Yekan.ttf') format('truetype'), url('../fonts/Yekan.woff') format('woff'), url('../fonts/Yekan.svg#BYekan') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BHoma';
    src: url('../fonts/BHoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IranNastaliq';
    src: url('../fonts/IranNastaliq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoodakBold';
    src: url('../fonts/KoodakBold.eot?#iefix') format('FontName-opentype'), url('../fonts/KoodakBold.ttf') format('truetype'), url('../fonts/KoodakBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.R2FontKoodakBoldSmall {
    font-family: KoodakBold;
    font-size: small;
    font-style: normal;
}
.R2FontKoodakBoldMedium {
    font-family: KoodakBold;
    font-size: medium;
    font-style: normal;
}
.R2FontKoodakBoldLarge {
    font-family: KoodakBold;
    font-size: large;
    font-style: normal;
}

.R2FontIranNastaliqSmall {
    font-family: IranNastaliq;
    font-size:  small;
    font-style: normal;
}

.R2FontIranNastaliqMedium {
    font-family: IranNastaliq;
    font-size: medium;
    font-style: normal;
}

.R2FontIranNastaliqLarge {
    font-family: IranNastaliq;
    font-size: large;
    font-style: normal;
}

.R2FontBYekanLarge {
    font-family: BYekan;
    font-size: large;
    font-style: normal;
}

.R2FontBYekanXLarge {
    font-family: BYekan;
    font-size: x-large;
    font-style: normal;
}

.R2FontBYekanXXLarge {
    font-family: BYekan;
    font-size:  xx-large;
    font-style: normal;
}

.R2FontBYekanMedium {
    font-family: BYekan;
    font-size: medium;
    font-style: normal;
}

.R2FontBYekanSmall {
    font-family: BYekan;
    font-size: small;
    font-style: normal;
}

.R2FontBHomaLarge {
    font-family: BHoma;
    font-size: large;
    font-style: normal;
}

.R2FontBHomaXLarge {
    font-family: BHoma;
    font-size: x-large;
    font-style: normal;
}

.R2FontBHomaXXLarge {
    font-family: BHoma;
    font-size: xx-large;
    font-style: normal;
}

.R2FontBHomaMedium {
    font-family: BHoma;
    font-size: medium;
    font-style: normal;
}

.R2FontBHomaSmall {
    font-family: BHoma;
    font-size: small;
    font-style: normal;
}
