<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentGatewayImplementationServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentGatewayImplementationServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://next.zarinpal.com/pg/v4/soap/services/WebGate/service" binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplementationServiceBinding" contract="ServiceReference.PaymentGatewayImplementationServicePortType" name="PaymentGatewayImplementationServicePort" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>